[package]
name = "fsci-linalg"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
fsci-runtime = { workspace = true }
nalgebra = "0.33.2"

[dev-dependencies]
proptest = { workspace = true }
criterion = { workspace = true }

[[bench]]
name = "linalg_bench"
harness = false
